body {
    background-color: #737373;
}

.container {
    padding: 24px;
}

h2 {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 22px;
    text-align: left;
    margin-bottom: 1rem;
}

h3, p {
    font-family: "Inter", sans-serif;
}

li{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #4A4A4A;
    list-style-position: outside;
    padding-left: 8px;  
}

footer {
    background-color: #D76239;
    padding: 30px;
    border-radius: 24px;

}

.profile-section{
    display: flex;
    margin-bottom: 24px;
    gap: 0;
}

.profile-pic {
    flex: 1; /* 1 part of the total width */
    height: 100%;
}

.profile-pic img {
    width: 10rem;
    border-radius: 24px;
    height: 100%;
}

.bio-text {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 24px; 
    color: #4a4a4a;
    max-width: 520px;
}

.about-section {
    flex: 4; /* 3 parts of the total width */
    background-color: whitesmoke;
    padding: 4px 60px;
    border-radius: 24px;
    box-shadow: 0 0 3px #DADADA;
}

.skills-proficiency-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    border-radius: 12px;
    margin-bottom: 24px;
}

.proficiency-levels{
    font-family: "Inter", sans-serif;
    font-size: 14px;
    word-spacing: 12px;
    text-align: left;
}

.proficiency-column {
    flex: 1.3;
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 24px;
    box-shadow: 0 0 2px #DADADA;
}

.proficiency-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.proficiency-item {
    display: flex;  /*puts the progress bar and proficiency name in a flexbox*/
    align-items: center;
}

.proficiency-name {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    width: 100px; /*This helps the progress bars (class .fill) start at the same point by fixing the width of the proficiency name*/
}

.fill {
  display: inline-block;
  font-size: 14px;
  height: 6px;
  background-color: #396B5E;
  border-radius: 3px;
}


.skills-column {
    flex: 1.7;
    background-color: #FFFF;
    padding: 20px;
    border-radius: 24px;
    box-shadow: 0 0 2px #DADADA;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}
 
.skill-item  {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    background-color: #ECF4F1;
    padding: 8px 14px;
    border-radius: 35px;
    letter-spacing: 2px;
}

.project-header{
    text-align: center;
    margin-bottom: 16px;
    padding-top: 16px;
}
.project-section {
    background-color: white;
    border-radius: 24px;
    padding: 0 24px 24px 24px;
    margin-bottom: 24px;
}   

.project-grid {
      display: flex;
      justify-content: space-between;
      gap: 20px;
      padding: 10px;
      
}
.project-card{
    background-color: #ECF4F1;
    width: 240px;
    height: 360px;
    padding: 0px 10px 10px 10px ;
    border-radius: 12px;
    box-shadow: 0 0 2px #DADADA;
}

.brief, .technologies, .responsibilities {
    font-size: 14px;
    line-height: 18px;
    color: #4A4A4A;
}

.project-grid .project-card:nth-child(1) {
    background-color: #2E6E5B;
    color: #FFF;
}

.project-grid .project-card:nth-child(1) p {
  color: #FFF;
}

.project-name{
    font-size: 18px;
    font-weight: 550;
    margin-bottom: 12px;
}


.project-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  font-size: 18px;
  margin: 0;
}

.heart-icon {
  font-size: 30px;
  color: #CCCCCC;
  padding: 8px;
}

.heart-icon:active {
    color: #D9534F;
    scale: 1.05;
}

.education-and-tools {
    display: flex;
    background-color: white;
    padding: 24px;
    gap: 50px;
    border-radius: 24px;
    margin-bottom: 24px;
}

.education-section{
    flex: 3;
    padding: 24px;
    
}

.education-card {
    display: flex;
    border-radius: 12px;
    box-shadow: 0 0 2px #DADADA;
    margin-bottom: 10px;
    padding: 35px;
    border-radius: 24px;
    background-color: #ECF4F1;
    position: relative;
}

.program-info, .skills-gained {
    margin-top: 15px;
}


.institution, .organization {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 12px;
}

.completion-date, .program-name {
    font-size: 14px;
    color: #4A4A4A;
}


.education-section .education-card:nth-child(1) {
    background-color: #2E6E5B;
    color: #FFF;
}

.education-section .education-card:nth-child(1) p,
.education-section .education-card:nth-child(1) li {
    color: #FFF;
}

.recent-tag-wrapper {
  display: flex;
  justify-content: flex-end;
}

.education-card .recent-tag-wrapper {
    position: absolute;
    top: 15px;
    right: 10px;
    margin: 0;
    margin-left: 15px;
}

.recent-tag {
    background-color: #D9534F;
    font-size: 12px;
    padding: 10px;
    border-radius: 30px;
}

.tools-grid {
    flex: 1;
    background-color: yellow;
}

.tool-card {
    display: flex;
}

.experience-section {
    background-color: white;
    padding: 24px;
    border-radius: 24px;
    margin-bottom: 24px;
}

.experience-card {
    display: flex;
    border-radius: 24px;
    box-shadow: 0 0 2px #DADADA;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #ECF4F1;
    gap: 30px;
    align-items: flex-start;
}

.experience-info {
  width: 200px;
  flex-shrink: 0;
}

.experience-section .experience-card:nth-child(1) {
    background-color: #2E6E5B;
    color: #FFF;
}

.experience-section .experience-card:nth-child(1) p,
.experience-section .experience-card:nth-child(1) li {
    color: #FFF;
}

.experience-section .recent-tag {
    margin-left: 50px;
}

.contact-card {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.contact p {
    color: white;
    font-size: 24px;
    font-weight: 550;
    margin-bottom: 30px;
    
}
.contact a {
    text-decoration: none;
    font-family: "Inter", sans-serif;
    color: #CCCCCC;
    font-size: 20px;
}


.divider {
  width: 2px;
  height: 24pxpx;
  background-color: #CCCCCC;
}


@media (max-width: 640px) {

    p {
        font-size: 10px;
    }

    h2 {
        font-size: 14px;
    }

    li {
        font-size: 10px;
        padding: 0;
    }

    .container {
        padding: 10px;
    }

    .profile-pic img {
        width: 6rem;
        height: 6rem;
        border-radius: 12px;
        object-fit: cover;
    }

   .profile-section {
        flex-direction: row;
        align-items: center;
        padding: 12px 12px 0 12px;
        gap: 5px;
        margin-bottom: 20px;
    }

    .about-section {
        flex: 2;
        padding: 5px;
        margin-top: 18px;
        border-radius: 12px;
    }

    .bio-text {
        font-size: 10px;
        line-height: 15px;
    }
    
    .hide-on-mobile {
        display: none;
    }

    .skills-proficiency-container {
        padding: 0 12px 12px 12px;
    }

    .project-section{
        padding: 0;
        border-radius: 24px;
    }

    .project-header {
        text-align: left;
        margin-left: 15px;
    }
    
    .project-grid {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    
    .project-card{
        flex: 0 0 50%;
        max-width: 140px;
        padding: 5px;
    }

    .project-name, .project-title {
        font-size: 14px;
    }
    .education-and-tools {
        flex-direction: column;
        padding: 5px;
    }

    .education-card{
        flex-direction: row;
        gap: 0;
        align-items: baseline;
    }

    .program-info p {
        font-size: 10px;
    }
    
}